---

---

<button
  class="bg-transparent text-white rounded-2xl px-6 py-2 text-center font-semibold flex items-center gap-2 hover:text-primary transition-all duration-300 cursor-pointer text-sm"
>
  <slot />
</button>