---
const { position, company, period, delay } = Astro.props
---

<article
  class="rounded-xl border border-gray-200 py-4 px-5 bg-gray-200/5 shadow-sm"
  data-aos="fade-up"
  data-aos-delay={delay}
>
  <h1 class="text-2xl font-bold text-primary mb-4">
    {position}
  </h1>
  <h2 class="font-medium">{company}</h2>
  <span class="text-sm opacity-80">{period}</span>
  <div class="mt-4">
    <slot />
  </div>
</article>
