---
import ExperienceIcon from '../../assets/icons/ExperienceIcon.astro'
import CodeIcon from '../../assets/icons/CodeIcon.astro'
import SkillIcon from '../../assets/icons/SkillIcon.astro'
import MailIcon from '../../assets/icons/MailIcon.astro'
---

<div class="fixed md:hidden bottom-0 left-0 w-full border-t border-gray-300 bg-gray-50">
  <nav class="flex items-center justify-between">
    <a href="#experiencia" class="flex flex-col items-center p-4 active:bg-blue-50 text-sm">
      <div><ExperienceIcon /></div>
      Experiencia
    </a>

    <a href="#portafolio" class="flex flex-col items-center p-4 active:bg-blue-50 text-sm">
      <div><CodeIcon /></div>
      Portafolio
    </a>

    <a href="#habilidades" class="flex flex-col items-center p-4 active:bg-blue-50 text-sm">
      <div><SkillIcon /></div>
      Habilidades
    </a>

    <a href="#contacto" class="flex flex-col items-center p-4 active:bg-blue-50 text-sm">
      <div><MailIcon /></div>
      Contacto
    </a>
  </nav>
</div>
