---
import ExperienceIcon from '../../assets/icons/ExperienceIcon.astro'
import CodeIcon from '../../assets/icons/CodeIcon.astro'
import SkillIcon from '../../assets/icons/SkillIcon.astro'
import MailIcon from '../../assets/icons/MailIcon.astro'
---

<div class="lg:hidden px-4 pb-4 fixed bottom-0 w-full z-50">
  <div
    class="border border-[#8B96A8]/25 bg-[#1D232C]/95 backdrop-blur-xl shadow-2xl shadow-black/40 rounded-full z-50"
  >
    <nav class="flex items-center justify-around">
      <a href="#experiencia" class="group flex flex-col items-center p-4 text-sm text-[#8B96A8] hover:text-[#1FA98C] transition-colors duration-300">
        <div><ExperienceIcon /></div>
      </a>

      <a href="#habilidades" class="group flex flex-col items-center p-4 text-sm text-[#8B96A8] hover:text-[#1FA98C] transition-colors duration-300">
        <div><SkillIcon /></div>
      </a>

      <a href="#proyectos" class="group flex flex-col items-center p-4 text-sm text-[#8B96A8] hover:text-[#1FA98C] transition-colors duration-300">
        <div><CodeIcon /></div>
      </a>

      <a href="#contacto" class="group flex flex-col items-center p-4 text-sm text-[#8B96A8] hover:text-[#1FA98C] transition-colors duration-300">
        <div><MailIcon /></div>
      </a>
    </nav>
  </div>
</div>