---
const { href, class: className = "bg-white" } = Astro.props;
---

<a
  class={`flex items-center border-2 border-white font-medium text-black px-3 py-2 rounded-lg gap-2 hover:scale-105 transition-all duration-300 cursor-pointer ${className}`}
  href={href}
  target="_blank"
>
  <slot />
</a>

<style>
  a:hover {
    box-shadow: 0 .5em .5em -.4em #FFF;
    transform: translateY(-.15em);
  }
</style>
