---
const { class: className = '', dataAos = 'fade-up' } = Astro.props;
---

<div
  class={`bg-black/20 border border-black/50 overflow-hidden relative rounded-2xl ${className}`}
  data-aos={dataAos}
>
  <slot />
</div>
