---
import Section from './shared/Section.astro'
import ButtonLink from './shared/ButtonLink.astro'
import GitHub from '../assets/icons/GitHub.astro'
import LinkedIn from '../assets/icons/LinkedIn.astro'
import EmailIcon from '../assets/icons/EmailIcon.astro'
import ContactCard from './shared/ContactCard.astro'

const { id } = Astro.props
---

<Section
  title="Contacto"
  id={id}
  subtitle="¡Hablemos! Estoy abierto a nuevas oportunidades y colaboraciones."
>
  <div class="py-3 px-4 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <ContactCard href="https://github.com/luisgomezadev" title="GitHub">
        <GitHub size="32" slot="icon" />
        <p slot="description">
          Visita mi perfil de GitHub para ver mis proyectos y contribuciones.
        </p>
      </ContactCard>
      <ContactCard href="https://www.linkedin.com/in/luisgomezdev/" title="LinkedIn">
        <LinkedIn size="32" slot="icon" />
        <p slot="description">Conéctate conmigo en LinkedIn para oportunidades profesionales.</p>
      </ContactCard>
      <ContactCard href="mailto:luisgomez24g@gmail.com" title="Enviar correo">
        <EmailIcon size="32" slot="icon" />
        <p slot="description">Envíame un correo electrónico para consultas o colaboraciones.</p>
      </ContactCard>
    </div>
  </div>
</Section>
