---
import CardItem from './CardItem.astro';
import Section from './Section.astro';

const { id } = Astro.props;
---

<Section title="Experiencia" id={id}>
  <CardItem class="py-8 px-8 lg:px-12">
    <div class="flex justify-between items-center flex-wrap-reverse gap-8">
      <div class="flex flex-col gap-4">
        <h4 class="text-2xl font-bold">Desarrollador Full-Stack</h4>
        <p class="text-base opacity-70">Zabud Technologies | 2019 - 2024</p>
        <ul class="list-disc pl-5">
          <li>
            Desarrollo de microservicios en Java con Spring Boot, aplicando principios de
            arquitectura hexagonal.
          </li>
          <li>
            Optimización de interfaces web utilizando frameworks modernos como Angular y Vue.js.
          </li>
          <li>Integración eficiente de microservicios desde el frontend.</li>
          <li>Trabajo colaborativo en equipos ágiles bajo metodologías SCRUM.</li>
        </ul>
      </div>
      <picture class="flex justify-center items-center w-full lg:w-auto">
        <img class="size-28 object-cover rounded" src="/images/zabud.webp" alt="Logo Zabud" />
      </picture>
    </div>
  </CardItem>
</Section>
