---
import Section from './shared/Section.astro'
import ExperienceCard from './shared/ExperienceCard.astro'

const { id } = Astro.props
---

<Section
  title="Experiencia"
  subtitle="Mi trayectoria como desarrollador profesional"
  id={id}
  class="bg-[#FFF]"
>
  <div class="lg:py-8 px-4 lg:px-6 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <ExperienceCard
        position="Freelance"
        company="Independiente"
        period="2024 - Presente"
        delay="100"
      >
        Desarrollo de aplicaciones web completas, desde el frontend con Angular/Vue 3 hasta el backend
        con Spring Boot, asegurando integración fluida y rendimiento. También diseño y lanzo landing
        pages con Astro, optimizadas para SEO y velocidad.
      </ExperienceCard>
      <ExperienceCard
        position="Front End - Junior"
        company="Mutual SER | Prestador de servicios"
        period="2020 - 2022"
        delay="200"
      >
        Desarrollo de interfaces de usuario responsivas y optimizadas utilizando Vue 3 y JavaScript.
        Implementación de mejores prácticas de desarrollo y colaboración con diseñadores y
        desarrolladores backend para crear experiencias de usuario atractivas.
      </ExperienceCard>
      <ExperienceCard
        position="Full Stack - Semisenior"
        company="Zabud Technologies"
        period="2019 - 2024"
        delay="300"
      >
        Desarrollo y mantenimiento de aplicaciones web utilizando Angular, TypeScript, JavaScript y
        Spring Boot, colaborando en equipos ágiles para entregar soluciones eficientes, escalables y
        alineadas con las necesidades del negocio.
      </ExperienceCard>
    </div>
  </div>
</Section>
