---
---

<section class="bg-[#111] py-12">
  <footer class="flex justify-center max-w-6xl mx-auto items-center px-3 xl:px-0">
    <p class="text-sm text-gray-200">
      © {new Date().getFullYear()} Luis Gómez Dev.
    </p>
  </footer>
</section>
