---
import GitHub from '../assets/icons/GitHub.astro';
import LinkedIn from '../assets/icons/LinkedIn.astro';
import CvIcon from '../assets/icons/CvIcon.astro';
import EmailIcon from '../assets/icons/EmailIcon.astro';
import AngularIcon from '../assets/icons/AngularIcon.astro';
import TypeScriptIcon from '../assets/icons/TypeScriptIcon.astro';
import SpringIcon from '../assets/icons/SpringIcon.astro';
import VueIcon from '../assets/icons/VueIcon.astro';

import ButtonLink from './ButtonLink.astro';

const { id } = Astro.props;
---

<section
  id={id}
  class="grid lg:grid-cols-2 gap-x-12 gap-y-24 items-center min-h-[calc(100vh-5rem)] py-12 scroll-mt-30"
>
  <div class="flex flex-col gap-6">
    <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold text-gray-800 dark:text-white">
      Hola, soy Luis G칩mez 游녦
    </h1>
    <h2
      class="text-xl sm:text-2xl lg:text-3xl font-semibold text-gray-800 dark:text-white flex items-center aos-init aos-animate"
      data-aos-delay="600"
      data-aos="fade-right"
    >
      <span class="typing-text">Desarrollador FullStack</span>
    </h2>
    <p class="text-lg text-gray-800 opacity-70 dark:text-gray-200 leading-relaxed max-w-lg">
      Ingeniero de sistemas y desarrollador web con m치s de cuatro a침os de experiencia en el dise침o,
      desarrollo y mantenimiento de aplicaciones web.
    </p>
    <div class="flex items-center space-x-4">
      <span class="text-gray-800 dark:text-white font-medium">S칤gueme en:</span>
      <div class="flex space-x-3">
        <ButtonLink href="https://github.com/luisgomezadev">
          <GitHub class="w-6 h-6" />
        </ButtonLink>
        <ButtonLink href="https://www.linkedin.com/in/luisgomezdev/">
          <LinkedIn class="w-6 h-6" />
        </ButtonLink>
      </div>
    </div>
    <div class="flex items-center gap-4">
      <ButtonLink href="mailto:luisgomez24g@gmail.com">
        <EmailIcon color="#000" size={20} />
        Contactar
      </ButtonLink>
      <ButtonLink
        class="bg-transparent border-2 border-white text-white"
        href="/files/CV_Luis_Gomez_2025.pdf"
      >
        <CvIcon color="#FFF" size={20} />
        Descargar mi CV
      </ButtonLink>
    </div>
  </div>
  <div class="relative flex justify-center items-center">
    <div class="relative">
      <img
        src="/images/foto_perfil.webp"
        alt="Luis G칩mez"
        class="w-64 h-64 sm:w-80 sm:h-80 lg:w-96 lg:h-96 object-cover rounded-full shadow-2xl hover:-translate-y-2 transition-all duration-300"
      />
    </div>
    <div
      class="absolute top-0 left-8 sm:left-20 w-12 h-12 sm:w-16 sm:h-16 bg-gray-800 dark:bg-white dark:text-gray-800 dark:border rounded-full drop-shadow-2xl shadow-lg dark:shadow-gray-800 flex items-center justify-center hover:scale-110 hover:shadow-xl hover:-translate-y-1 transition-all duration-300 animate-float group"
    >
      <span class="group-hover:text-red-700 transition-all duration-300"
        ><AngularIcon class="w-6 h-6 sm:w-8 sm:h-8" /></span
      >
    </div>
    <div
      class="absolute top-0 right-8 md:right-0 w-12 h-12 sm:w-16 sm:h-16 bg-gray-800 text-white dark:bg-white dark:text-gray-800 dark:border rounded-full drop-shadow-2xl shadow-lg dark:shadow-gray-800 flex items-center justify-center hover:scale-110 hover:shadow-xl hover:-translate-y-1 transition-all duration-300 animate-float group"
    >
      <span class="group-hover:text-blue-700 transition-all duration-300"
        ><TypeScriptIcon class="w-6 h-6 sm:w-8 sm:h-8" /></span
      >
    </div>
    <div
      class="absolute bottom-0 left-8 sm:left-10 w-12 h-12 sm:w-16 sm:h-16 bg-gray-800 text-white dark:bg-white dark:text-gray-800 dark:border rounded-full drop-shadow-2xl shadow-lg dark:shadow-gray-800 flex items-center justify-center hover:scale-110 hover:shadow-xl hover:-translate-y-1 transition-all duration-300 animate-float group"
    >
      <span class="group-hover:text-green-600 transition-all duration-300"
        ><SpringIcon class="w-6 h-6 sm:w-8 sm:h-8" /></span
      >
    </div>
    <span
      class="absolute bottom-8 sm:bottom-10 right-10 sm:right-12 w-12 h-12 sm:w-16 sm:h-16 bg-gray-800 text-white dark:bg-white dark:text-gray-800 dark:border rounded-full drop-shadow-2xl shadow-lg dark:shadow-gray-800 flex items-center justify-center hover:scale-110 hover:shadow-xl hover:-translate-y-1 transition-all duration-300 animate-float group"
    >
      <span class="group-hover:text-[#42b883] transition-all duration-300"
        ><VueIcon class="w-6 h-6 sm:w-8 sm:h-8" /></span
      >
    </span>
  </div>
</section>
<style>
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }
  }
</style>
