---
import GitHub from '../assets/icons/GitHub.astro'
import LinkedIn from '../assets/icons/LinkedIn.astro'
import CvIcon from '../assets/icons/CvIcon.astro'
import EmailIcon from '../assets/icons/EmailIcon.astro'

import ButtonLink from './shared/ButtonLink.astro'

const { id } = Astro.props
---

<section
  id={id}
  class="relative h-auto scroll-mt-16 overflow-x-hidden transition-all duration-500 text-gray-800"
>
  <header
    class="relative z-10 max-w-7xl mx-auto px-4 lg:px-6 pt-12 md:pt-16 gap-x-12 gap-y-10 items-center h-auto flex flex-col md:flex-row justify-between"
  >
    <div class="gap-4 text-center md:text-left animate-fade-in-left max-w-2xl">
      <div>
        <h1
          class="text-4xl md:text-5xl lg:text-[70px] font-bold md:mb-3 text-black md:leading-20 uppercase"
        >
          <span
            class="inline-block border-b-4 border-primary hover:bg-primary/20 hover:tracking-tight transition-all duration-300 hover:rounded-sm hover:px-2"
          >
            desarrollador 
          </span>
          de software y
          <span
            class="inline-block border-b-4 border-primary hover:bg-primary/20 hover:tracking-tight transition-all duration-300 hover:rounded-sm hover:px-2"
          >
            diseñador 
          </span>
          web
        </h1>
      </div>
    </div>

    <div class="relative z-10 flex justify-center items-center">
      <div class="relative z-10 animate-fade-in-up">
        <img
          src="/images/perfil.webp"
          alt="Luis Alberto Gómez Perfil"
          class="w-72 h-72 sm:w-96 sm:h-96 lg:w-96 lg:h-96 object-cover grayscale"
        />
      </div>
    </div>
  </header>

  <article
    class="relative z-20 max-w-7xl mx-2 md:mx-auto px-4 lg:px-6 py-10 gap-x-12 gap-y-10 items-center h-auto flex flex-col md:flex-row justify-between text-lg md:text-xl text-white bg-secondary rounded-3xl"
  >
    <div class="max-w-2xl">
      <p class="text-lg">
        Hola, soy Luis Alberto Gómez, desarrollador de software especializado en la creación de aplicaciones web escalables y el diseño de interfaces modernas con Java, Spring Boot y Angular.
      </p>
      <footer class="flex gap-1 mt-10">
        <ButtonLink
          title="Descargar CV de Luis Gomez"
          class="text-white bg-primary hover:bg-primary/90"
          href="/files/CV_Luis_Gomez_2026.pdf"
        >
          <CvIcon size={20} />
          Descargar mi CV
        </ButtonLink>
        <ButtonLink
          href="mailto:luisgomez24g@gmail.com"
          title="Enviar correo a Luis Gomez"
          class="text-white bg-transparent hover:text-primary"
        >
          <EmailIcon size={20} />
          Contactar
        </ButtonLink>
      </footer>
    </div>
    <div class="flex flex-col md:flex-row gap-4 ">
      <div class="bg-gray-300 text-black rounded-2xl px-6 py-2 text-center font-semibold mt-6">
        Desarrollador Full Stack Java · Spring Boot · Angular
      </div>
      <div
        class="bg-white text-black text-2xl md:text-3xl rounded-2xl px-6 py-2 text-center font-semibold items-center md:flex leading-7"
      >
        +5 años de experiencia
      </div>
    </div>
  </article>
</section>

<style>
  .animate-fade-in-left {
    animation: fadeInLeft 1s ease-out both;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out both;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
