<header class="h-[5rem] fixed top-0 left-0 z-10 w-full">
  <nav
    class="mx-auto max-w-6xl w-full text-white flex items-center py-5 px-5 justify-between backdrop-blur-lg"
  >
    <div
      class="w-7 h-7 bg-white flex items-center justify-center dark:bg-moonlit p-4"
    >
      <span class="text-black text-med font-semibold">LG</span>
    </div>
    <ul class="flex items-center gap-6">
      <li><a href="#home">Inicio</a></li>
      <li><a href="#experience">Experiencia</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#skills">Habilidades</a></li>
    </ul>
  </nav>
</header>
