---
import HomeIcon from '../assets/icons/HomeIcon.astro'
import ExperienceIcon from '../assets/icons/ExperienceIcon.astro'
import CodeIcon from '../assets/icons/CodeIcon.astro'
import SkillIcon from '../assets/icons/SkillIcon.astro'
import MailIcon from '../assets/icons/MailIcon.astro'
---

<header
  class="fixed top-0 left-0 w-full p-3 md:p-0 duration-300 z-30 transition-all backdrop-blur-3xl bg-transparent"
>
  <nav
    class="duration-300 mx-auto max-w-7xl w-full text-black flex items-center py-2 md:py-5 justify-between h-auto transition-all md:px-3"
  >
    <a
      href="#inicio"
      class="w-8 flex items-center gap-2 font-bold transition-transform duration-300 hover:scale-110"
    >
      <img src="/logo_personal.webp" alt="Logo Luis Gomez Dev" />
      <span class="text-2xl tracking-wide text-black">LGDev.</span>
    </a>

    <!-- Menú Hamburguesa -->
    <button id="menuToggle" class="md:hidden text-3xl z-50 relative"> ☰ </button>

    <!-- Menú Desktop -->
    <ul class="hidden md:flex items-center gap-x-7 sm:gap-x-12 text-black">
      <li>
        <a href="#experiencia" class="group relative flex gap-2 items-center">
          <div class="hidden md:block"><ExperienceIcon /></div>
          Experiencia
          <span
            class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full group-hover:left-0"
          ></span>
        </a>
      </li>
      <li>
        <a href="#proyectos" class="group relative flex gap-2 items-center">
          <div class="hidden md:block"><CodeIcon /></div>
          Proyectos
          <span
            class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full group-hover:left-0"
          ></span>
        </a>
      </li>
      <li>
        <a href="#habilidades" class="group relative flex gap-2 items-center">
          <div class="hidden md:block"><SkillIcon /></div>
          Habilidades
          <span
            class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full group-hover:left-0"
          ></span>
        </a>
      </li>
      <li>
        <a href="#contacto" class="group relative flex gap-2 items-center">
          <div class="hidden md:block"><MailIcon /></div>
          Contacto
          <span
            class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full group-hover:left-0"
          ></span>
        </a>
      </li>
    </ul>

    <!-- Menú Mobile -->
    <div
      id="mobileMenu"
      class="fixed top-0 right-0 w-full h-screen bg-white/95 text-black flex flex-col items-center justify-center gap-8 text-2xl font-medium transform translate-x-full transition-transform duration-500 md:hidden z-40 backdrop-blur-3xl"
    >
      <a href="#experiencia" onclick="toggleMenu()">Experiencia</a>
      <a href="#proyectos" onclick="toggleMenu()">Proyectos</a>
      <a href="#habilidades" onclick="toggleMenu()">Habilidades</a>
      <a href="#contacto" onclick="toggleMenu()">Contacto</a>
    </div>
  </nav>
</header>

<script lang="ts">
  if (typeof window !== 'undefined') {
    const nav = document.querySelector('header')
    const menu = document.getElementById('mobileMenu')
    const toggle = document.getElementById('menuToggle')

    window.addEventListener('scroll', () => {
      if (window.scrollY > 50) {
        nav?.classList.add('bg-white/80', 'shadow-md')
        nav?.classList.remove('bg-transparent')
      } else {
        nav?.classList.remove('bg-white/80', 'shadow-md')
        nav?.classList.add('bg-transparent')
      }
    })

    window.toggleMenu = () => {
      menu?.classList.toggle('translate-x-full')
    }

    toggle?.addEventListener('click', () => {
      window.toggleMenu()
    })
  }
</script>
