---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/images/LG_logo.jpg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <meta
      name="keywords"
      content="Luis Gómez, Software Developer, Web Developer, FullStack Developer, Angular, TypeScript, JavaScript, Java, Bootstrap, Desarrollador"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://luisgomeza.vercel.app/" />
    <meta property="og:title" content="Luis Gómez | Portafolio" />
    <meta property="og:site_name" content="Luis Gómez | Portafolio" />
    <meta
      property="og:description"
      content="Bienvenidos a mi portafolio. Soy Luis Gómez, ingeniero de sistemas y desarrollador web con más de cuatro años de experiencia en el diseño, desarrollo y mantenimiento de aplicaciones web."
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://luisgomeza.vercel.app/" />
    <meta property="twitter:title" content="Luis Gómez | Portafolio" />
    <meta
      property="twitter:description"
      content="Bienvenidos a mi portafolio. Soy Luis Gómez, ingeniero de sistemas y desarrollador web con más de cuatro años de experiencia en el diseño, desarrollo y mantenimiento de aplicaciones web."
    />
  </head>
  <body class="text-gray-100">
    <Navbar />
    <main class="container max-w-6xl mx-auto px-4 mt-22 mb-14 flex flex-col gap-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @import "animate.css/animate.min.css";
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
</style>
