---
import Navbar from '../components/shared/Navbar.astro'
import Footer from '../components/shared/Footer.astro'
import ButtonToTop from '../components/shared/ButtonToTop.astro'
import MenuBottom from '../components/shared/MenuBottom.astro'
import { ClientRouter } from 'astro:transitions'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/logo_personal.webp"
      media="(prefers-color-scheme: light)"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/logo_personal_blanco.webp"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Bienvenidos a mi portafolio. Soy Luis Gómez, desarrollador web con más de cuatro años de experiencia en el diseño, desarrollo y mantenimiento de aplicaciones web."
    />
    <title>{title}</title>
    <meta
      name="keywords"
      content="Luis Gómez, Software Developer, Web Developer, FullStack Developer, Angular, TypeScript, JavaScript, Java, Bootstrap, Desarrollador"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://luisgomeza.vercel.app/" />
    <meta property="og:title" content="Luis Gómez | Portafolio" />
    <meta property="og:site_name" content="Luis Gómez | Portafolio" />
    <meta
      property="og:description"
      content="Bienvenidos a mi portafolio. Soy Luis Gómez, ingeniero de sistemas y desarrollador web con más de cuatro años de experiencia en el diseño, desarrollo y mantenimiento de aplicaciones web."
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://luisgomeza.vercel.app/" />
    <meta property="twitter:title" content="Luis Gómez | Portafolio" />
    <meta
      property="twitter:description"
      content="Bienvenidos a mi portafolio. Soy Luis Gómez, ingeniero de sistemas y desarrollador web con más de cuatro años de experiencia en el diseño, desarrollo y mantenimiento de aplicaciones web."
    />
    <ClientRouter />
  </head>
  <body class="text-gray-800 bg-white">
    <Navbar />
    <main class="flex flex-col md:pt-0 pt-12">
      <slot />
      <ButtonToTop />
    </main>
    <Footer />
    <MenuBottom />
  </body>
</html>
<style is:global>
  @import 'tailwindcss';
  @import 'animate.css/animate.min.css';
  html,
  body {
    margin: 0;
    padding: 0;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  a {
    box-sizing: border-box;
  }
</style>
